body {

    font-family: Arial, sans-serif;
    
}

header {
    background-color: #ff9933;
    color: white;
    padding: 3.5%;
    text-align: center;
}

header nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-color: #ffffff;
    padding: 8px 12px;
    text-align: center;
    background: linear-gradient(#ff9933, #ffffff, #138808);
    color: #333;
}

img {
    max-width: 10%;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px;
}

.content {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.content h2 {
    color: #138808;
}

.content ul {
    margin-left: 1rem;
}



.login-container {
    background: linear-gradient(#ff9933, #ffffff, #138808);
    padding: 55px;
    border-radius: 8px;
    box-shadow: 0 0 10px #df0606e9;
    text-align: center;
    width: 270px;
    display: flex;
    height: 250px;
}

.login-container h2 p{
    margin-bottom: 30px;
    color: #000;

}

.login-container button {
    background-color: #000080;
    color: white;
}


.form-section{
    background: linear-gradient(#ff9933, #ffffff, #138808);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #df0606e9;
    text-align: center;
    width: 300px;
    display: flex;
    height: 200px;
}
.form-section h2{
     margin-bottom: 8px;
    color: #000;

}
.form-section button{
     background-color: #000080;
    color: white;
}

input,textarea {
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
footer {
    background-color: #0c9c65;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}




